* {
    box-sizing: border-box;
}

body {
    background-color: rgba(235, 184, 91, 0.472);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    padding: 3rem;
    background-color: cornflowerblue;
}

h1 {
    text-align: center;
}

input {
    width: 24rem;
    padding: 10px;
}

li {
    display: flex;
    width: 10rem;
    padding: 10px;
    justify-content: space-between;
}